.container {
  align-self: center;
  width: 75vw;
  margin-top: 30px;
}

.item {
  display: flex;
  padding: 15px 0px 15px 20px;
  align-items: center;
  cursor: pointer;
}

.profile {
  width: 15vw;
  display: flex;
  align-items: center;
}

.description {
  width: 60vw;
  display: flex;
  align-items: center;
}

.buttons {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem {
  padding-left: 0px;
}

.listItem > li {
  border-bottom: 2px solid #dedede;
}

.listItem > li:last-child {
  border-bottom: 0;
}

.remove:hover {
  animation: shake 0.9s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
