.description {
  font-size: 17px;
  color: #a1a1a1;
  text-align: left;
  text-decoration: none;
}

.title {
  font-size: 18px;
  color: #2b3d4f;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}
