.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: '100%';
  width: 15vw;
  box-shadow: 3px 2px 7px 0 rgba(0,0,0,0.1);
}

.itemContainer {
  background-color: #fff;
  display: flex;
  cursor: pointer;
}

.itemText {
  font-size: 18px;
  color: #88878a;
  text-align: left;
  line-height: 2.63;
  padding-left: 31px;
  text-decoration: none!important;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  display: flex;
  align-items: center;
}

.selectedItemText {
  color: #b3bf2e !important;
  line-height: 2.63;
  font-weight: bold;
  padding-left: 31px;
  text-decoration: none !important;
  padding-inline-end: 6px;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  display: flex;
  align-items: center;
}
