.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b3d4f;
  padding: 10px 16px 10px 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.itemInput {
  font-size: 18px;
  background: url(/assets/search.svg) no-repeat scroll 12px 9px;
  background-color: #fff;
  padding: 8px 3px 8px 46px;
  border: 0px;
  width: 65vw;
  outline: none;
  border-radius: 20px;
  -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
}

.itemInput::-webkit-input-placeholder {
  color: #2b3d4f;
  font-size: 18px;
}
.itemInput::-moz-placeholder {
  color: #2b3d4f;
  font-size: 18px;
}
.itemInput:-ms-input-placeholder {
  color: #2b3d4f;
  font-size: 18px;
}
.itemInput:-moz-placeholder {
  color: #2b3d4f;
  font-size: 18px;
}
