.container {
  height: 100vh;
  background-color: #f2f2f2;
background-image: -webkit-linear-gradient(90deg, #f2f2f2 53%, #2b3d4f 47%);
min-height: 500px;
display: flex;
justify-content: center;
align-items: center;
}

.avatarContainer {
  width: 160px;
  height: 160px;
  padding: 3px;
  background-size: cover;
  background-position: center;
  border-radius: 180px;
  border: 2px solid #bdbdbd;
  display: flex;
  background-color: #fff;
}

.header {
  width: 100%;
  background-color: #f0f0f0;
  height: 22vh;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #dedede;
}

.body {
  margin-top: 50px;
  z-index: 200;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
}
