.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  color: #999999;
  font-size: 24px;
  margin-bottom: 10px;
}

.value {
  margin-top: 5px;
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 600;

}
